* {
	margin: 0;
	padding: 0;
}

html, body {
	overflow: hidden;
}

body {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	background-color: black;
}

canvas.webgl {
	background-color: black;
	outline: none;
}
